:host {
  display: block;
  text-align: center;
  width: 100%;
}


canvas {
  background-color: transparent !important; /* Força a transparência */
  display: block;
}

#teste{
  background-color: transparent;
}
