@import '../../theme.css';

:host {
  display: block;
}

.recorder-box {
  background-color: darkgray;
}

daai-button {
  background-color: var(--secondary-color);
}

daai-button-with-icon {
  background-color: var(--button-primary-bg);
}

