@import '../../theme.css';

:host {
  display: block;
  --logo-url:url('');
  --daai-primary-color: var(--primary-color);
  --daai-secondary-color: var(--secondary-color);
  --success-color: var(--success-color);
/* --error-color
--background-color
--border-color
--button-radius
--border-radius
--font-family */
}

.recorder-box {
  background-color: darkgray;
}

daai-button {
  background-color: var(--secondary-color);
}

#start-recording {
  background-color: var(--daai-primary-color);
}

#pause-recording {
  background-color: var(--daai-secondary-color);
}
