:host {
  display: block;
}

.recorder-box {
  background-color: darkgray;
}

daai-button {
  --button-width: 50px;
  --button-height: 50px;
  --button-background-color: #b10058;
  --button-text-color: #FFF;
  --button-border-radius: 10px;
  --button-hover-background-color: #477e86;
  --button-border:none;
}
