:host {
  --background-color:#FFFFFF;
  --border-color:#009cb1;
  --border-button-color:#64748B;

  --primary-color: #009cb1;
  --secondary-color: #f43f5e;
  --success-color:#28A18C;
  --error-color:#E11D48;
  --disable-color:#DFE4EA;
  --support-color:#c9c9c9;


  --text-primary-color: #009CB1;
  --text-success-color: #28A18C;
  --text-button-color: #ffff;
  --text-default-color:#475569;

  --button-roudend-sm:6.25px;
  --button-roudend-md:20px;
  --button-roundend-sm:60px;

  --button-primary-width: 100px;
  --button-secondary-width:50px;

  --button-primary-height: 60px;
  --button-secondary-height:40px;

  --animation-recorder-color:#f43f5e;
  --animation-paused-color:#009cb1;

}

button {
  color: var(--color-primary);
}

h2 {
  color: var(--color-primary);
}

h3 {
  color: var(--color-primary);
}
